<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Esto es un título </h1>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, tempore culpa facere rerum quisquam consequatur sint enim accusamus, libero esse optio neque similique modi fuga aut nostrum aliquid! Iusto, sed?</p>
    </main>
    <footer>
        <h2>Grupo 11</h2>
        <h3 class="h2-footer">Digital House</h3>
    </footer>
    
</body>
</html>