<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Roboto:wght@100;300;400;500;700&family=Syncopate:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6a08be7fa5.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div>
        <img src="/Image/logo-213171787-1620332962-35c80523f0f9d768bf3ed3d93f6254c21620332963-480-0.1.png">
        <h2>Dr Bike</h2>
        <h3>Bienvenidos</h3>
        <nav>
            <form action="../../form-result.php" method="post" target="_blank">
                <p>
                    <input type="search" name="busqueda" placeholder="Buscar productos, marcas">
                    <input type="submit" value="Buscar">
                </p>
            </form>
            <ul>
                <li>Categorias</li>
                <li>Compras</li>
                <li>Ofertas</li>
                <li>Servicio Técnico</li>
                <li>Ocasión</li>
                <li>Micro mobilidad</li>
            </ul>
            </div>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>