<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=>, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Roboto:wght@100;300;400;500;700&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/6a08be7fa5.js" crossorigin="anonymous"></script>
        <title>Dr Bike</title>
    </head>
<body>
    <header>
        <div>
            <img src="../Public/Image/logo-213171787-1620332962-35c80523f0f9d768bf3ed3d93f6254c21620332963-480-0.png">
            <h3>Bienvenidos</h3>
        </div>
        <nav>
            <form action="../../form-result.php" method="post" target="_blank">
                    <input type="search" name="busqueda" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <ul type="none">
                <li>Categorias <i class="fas fa-chevron-right"></i></li>
                <li>Compras <i class="fas fa-chevron-right"></i></li>
                <li>Ofertas <i class="fas fa-chevron-right"></i></li>
                <li>Servicio Técnico <i class="fas fa-chevron-right"></i></li>
                <li>Ocasión <i class="fas fa-chevron-right"></i></li>
                <li>Micro mobilidad <i class="fas fa-chevron-right"></i></li>
            </ul>
            <div class="burger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>
        <form action="/login" method="post">
            <input type="text" required name="nombreDeUsuario">
            <input type="email" name="NombreDeUsuario">
            <input type="password" name="contrasena">
            <button type="submit">Enviar</button>
        </form>
    </main>
    <footer>
        <ul>
            <li>¿Quiénes somos?</li>
            <li> Sucursal 
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13620.346142038723!2d-64.23064674999999!3d-31.4117418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1675019391749!5m2!1ses!2sar" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </li>
            <li>Contacto</li>
            <li>Preguntas Frecuentes</li>
            <li>Términos y Condiciones</li>
        </ul>
        <h4>© 2023 Dr Bike | Todos los derechos reservados</h4>
    </footer>
</body>
</html>