@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Zen+Dots&display=swap');
* {    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
body{
    
    font-family: syncopate, sans-serif;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    
    display: flex;
    flex-wrap: wrap;
   
}
p{
    display: block;
    text-align: justify;
}
h2{
    background-color: rgb(141, 135, 161);
    text-align: center;
    font-size: 30px;
}
h3{
    background-color: rgb(141, 135, 161);
    text-align: center;
}
h4{
    background-color: rgb(141, 135, 161);
    text-align: center;
}

.fotobici{
    width: 100%;
}
.product{
    width: 100%;
   
}
.marca{
    display: block;
    width: 100%;
}
.freeship{
    color: green;
}
.buy{
    width: 100%;
}
@media (min-with: 361px) {
    img{
        width: 400px;
        height: auto;
    }
    .fotobici{
        width: 50%;
    }
    .product{
        width: 50%;
       
    }
    h2{
        font-size: 34px;
    }
}
@media (min-with: 769px) {
    img{
        width: 500px;
        height: auto;
    }
    .fotobici{
        width: 50%;
    }
    .product{
        width: 50%;
       
    }
    h2{
        font-size: 40px;
    }
}
@media (min-with: 1280px) {
    img{
        width: 600px;
        height: auto;
    }
    .fotobici{
        width: 50%;
    }
    .product{
        width: 50%;
       
    }
    h2{
        font-size: 44px;
    }
}