@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Zen+Dots&display=swap');
<<<<<<< HEAD
* {    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
body{
    
=======
* {
    background-color: #313131;
>>>>>>> 597a5e3dd71f60b8ea18e4fc2174cc8bdcfe3334
    font-family: syncopate, sans-serif;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
<<<<<<< HEAD
section{
    
    display: flex;
    flex-wrap: wrap;
   
}
p{
    display: block;
    text-align: justify;
}
h2{
    background-color: rgb(141, 135, 161);
    text-align: center;
    font-size: 30px;
}
h3{
    background-color: rgb(141, 135, 161);
    text-align: center;
}
h4{
    background-color: rgb(141, 135, 161);
    text-align: center;
=======
.header1{
    font-family: zen dots, sans-serif;
    flex-direction: row;
    justify-content: center;

}

.top{
    background-color: #caf0f8;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    position: fixed;
}
.imagen{
    background-color:#caf0f8 ;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    right: 80%;
}
.buscador{
    background-color: #3b82f680;
    width: 50px;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    right: 68%;
}
.usuario{
    background-color: #3b82f680;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    right: 0%;
}   
.foot{
    font-family: zen dots, sans-serif;
>>>>>>> 597a5e3dd71f60b8ea18e4fc2174cc8bdcfe3334
}

.fotobici{
    width: 100%;
}
.product{
    width: 100%;
   
}
.marca{
    display: block;
    width: 100%;
}
.freeship{
    color: green;
}
.buy{
    width: 100%;
}
@media (min-with: 361px) {
    img{
        width: 400px;
        height: auto;
    }
    .fotobici{
        width: 50%;
    }
    .product{
        width: 50%;
       
    }
    h2{
        font-size: 34px;
    }
}
@media (min-with: 769px) {
    img{
        width: 500px;
        height: auto;
    }
    .fotobici{
        width: 50%;
    }
    .product{
        width: 50%;
       
    }
    h2{
        font-size: 40px;
    }
}
@media (min-with: 1280px) {
    img{
        width: 600px;
        height: auto;
    }
    .fotobici{
        width: 50%;
    }
    .product{
        width: 50%;
       
    }
    h2{
        font-size: 44px;
    }
}