@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=Zen+Dots&display=swap');
* {
    background-color: #313131;
    font-family: syncopate, sans-serif;
    color: aliceblue;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header1{
    font-family: zen dots, sans-serif;
    flex-direction: row;
    justify-content: center;

}

.top{
    background-color: #caf0f8;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    position: fixed;
}
.imagen{
    background-color:#caf0f8 ;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    right: 80%;
}
.buscador{
    background-color: #3b82f680;
    width: 50px;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    right: 68%;
}
.usuario{
    background-color: #3b82f680;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    right: 0%;
}   
.foot{
    font-family: zen dots, sans-serif;
}



.producto{
    padding-top: 100px;
}