<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partial/head')%>
    <title>Document</title>
</head>
<body>
    <%- include ('./partial/header')%>
    <main>
    <h2>Ingresa un nuevo producto</h2>
    </main>
    <%- include ('./partial/footer')%> 
</body>
</html>

